
    <nav class="flex flex-wrap justify-between px-12 py-2 bg-gray-200">

        <h1 class="text-2xl logo">TheCuriousMind.</h1>

        <ul class="flex items-center flex-wrap justify-center gap-6">
            <li class="text-lg"><a href="/">Home</a></li>
            <li class="text-lg"><a href="/about">About</a></li>
            <li class="text-lg"><a href="/new-blog">New Blog</a></li>
            <li class="text-lg"><a href="/help">Contact</a></li>
        </ul>
    </nav>

