<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <style>
        footer {
            margin-top: auto;
        }
        body {
            display: flex;
            flex-direction: column;
            height: 100vh;
        }
    </style>
</head>
<body>
    {{>nav}}
    <p class="text-center text-3xl font-bold mt-24">Oops! Page not Found</p>
                    {{!-- OR --}}
    <p class="text-center text-2xl mt-24">{{errNote}}</p>

    {{>footer}}

    <script src="https://cdn.tailwindcss.com"></script>

</body>
</html>