<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Arvo&family=DM+Sans&family=Fira+Code&family=Marvel:wght@400;700&family=Montserrat&family=Noto+Serif&family=Open+Sans&family=Plus+Jakarta+Sans&family=Poppins&family=Sora&family=Ubuntu&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "noto serif";
        }

        footer {
            margin-top: auto;
        }

        body {
            display: flex;
            flex-direction: column;
            height: 100vh;
        }

        textarea {
            resize: none;
        }
    </style>
</head>

<body>

    {{>nav}}


    <div class="max-w-4xl mx-auto my-12">

        <h1 class="text-2xl">Add your new Blog</h1>

        <div class="max-w-4xl my-4 mx-auto p-8 bg-slate-300">
            <form action="/blogs" method="post" class="flex flex-col items-start justify-center gap-3" onsubmit="handleSubmit">
                <label for="title" class="text-xl">Blog Title</label>
                <input name="title" type="text" id="title" class="bg-slate-100 text-xl focus:outline-none px-4 py-2">
                <label for="snippet" class="text-xl">Blog content</label>
                <textarea name="snippet" id="snippet" class="bg-slate-100 text-xl focus:outline-none px-4 py-2" rows="6"
                    cols="30"></textarea>

                <input type="submit" class="text-xl bg-blue-600 px-4 py-2 text-slate-300" value="Submit"></input>
            </form>
        </div>

    </div>

    {{>footer}}

    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        const handleSubmit = (e)=>{
            e.preventDefault();
        }
    </script>

</body>

</html>